* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  font-family: sans-serif;
  background-image: url(https://images.pexels.com/photos/4597120/pexels-photo-4597120.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.board {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  
}

.board .square {
  backdrop-filter: blur(10px) brightness(60%);
  color: aliceblue;
  width: 100%;
  height: 100%;
  transition: all ease 0.2s;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  border: 2px solid black;
}

.board .square:hover {
  transform: scale(1.04);
}

