* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-flow: column;
  background-image: url(https://images.pexels.com/photos/4597120/pexels-photo-4597120.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.titleBar {
  height: 40px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-app-region: drag;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.titleBar .close-button {
  color: #ffffff9f;
  font-weight: 700;
  background-color: #ffffff3d;
  height: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.titleBar .close-button:hover {
  background-color: #ff00003d;
}

.board-container {
  flex-grow : 1;
  padding: 10px;
}

.board {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  
}

.board .square {
  backdrop-filter: blur(10px) brightness(60%);
  color: aliceblue;
  width: 100%;
  height: 100%;
  transition: all ease 0.2s;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  border: 2px solid black;
}

.board .square:hover {
  transform: scale(1.04);
}

